<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopEducation</title>
</head>
<body>
    <h4>RUT</h4>
    <input type="text" name="RUT">
    <h4>Nombres</h4>
    <input type="text" name="Nombres">
    <h4>Apellidos</h4>
    <input type="text" name="Apellidos">
    <h4>Fecha de nacimiento</h4>
    <input type="date" name="Fecha de nacimiento">
    <h4>Tipo de colegio</h4>
    <select name="Tipo de colegio" size="1">
        <option label="SUBVENCIONADO"></option>
        <option label="PRIVADO"></option>
        <option label="MUNICIPAL"></option>
    </select>
    <h4>Nombre de colegio</h4>
    <input type="text" name="Nombre de colegio">
    <h4>Año de egreso</h4>
    <input type="number" name="Año de egreso" min="1990" max="2024">
    <h4>Tipo de pago</h4>
    <select name="Tipo de pago" size="1">
        <option label="CONTADO"></option>
        <option label="CUOTAS"></option>
    </select>
    <h4>Cantidad de cuotas</h4>
    <input type="number" name="Cantidad de cuotas" min="2" max="10">
</body>
</html>