<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TopEducation</title>
</head>
<body>
<form th:action="@{/ingresar-estudiante}" method="post">
    <h1>TopEducation</h1>
    <b>RUT</b>
    <input type="text" name="rut"
            placeholder="Ej. 12345678-9" required >
    <b>Nombres</b>
    <input type="text" name="nombres" required>
    <b>Apellidos</b>
    <input type="text" name="apellidos" required>
    <b>Fecha de nacimiento</b>
    <input type="date" name="fecha_nac" required>
    <br>
    <br>
    <b>Tipo de colegio</b>
    <select id="tipo_colegio" name="tipo_colegio" size="1" required>
        <option label="SUBVENCIONADO" value="SUBVENCIONADO"></option>
        <option label="PRIVADO" value="PRIVADO"></option>
        <option label="MUNICIPAL" value="MUNICIPAL"></option>
    </select>
    <b>Nombre de colegio</b>
    <input type="text" name="nombre_colegio" required>
    <b>Año de egreso</b>
    <input type="number" name="año_egreso" min="1990" max="2024">
    <br>
    <br>
    <b>Tipo de pago</b>
    <select id="tipo_pago" name="tipo_pago" size="1" required>
        <option label="CONTADO" value="CONTADO"></option>
        <option label="CUOTAS" value="CUOTAS"></option>
    </select>
    <b>Cantidad de cuotas</b>
    <select id="cant_cuotas" name="cant_cuotas">
        <option label="0" value="0"></option>
    </select>
    <br>
    <br>
    <button type="submit">Ingresar</button>
</form>
<script>
    var tipoPago = document.getElementById("tipo_pago");
    var cantCuotas = document.getElementById("cant_cuotas");
    var tipoColegio = document.getElementById("tipo_colegio");
    var opciones = {
        CONTADO: {  MUNICIPAL: [],
                    SUBVENCIONADO: [],
                    PRIVADO: []},
        CUOTAS: {   MUNICIPAL: [2,3,4,5,6,7,8,9,10],
                    SUBVENCIONADO: [2,3,4,5,6,7],
                    PRIVADO: [2,3,4]}
    }

    tipoColegio.addEventListener("change", function() {
        var tipoColegioSeleccionado = tipoColegio.value;
        var tipoPagoSeleccionado = tipoPago.value;
        cantCuotas.innerHTML = "";
        opciones[tipoPagoSeleccionado][tipoColegioSeleccionado].forEach(function(opcion) {
            var opcionElemento = document.createElement("option");
            opcionElemento.value = opcion;
            opcionElemento.text = opcion;
            cantCuotas.add(opcionElemento);
        });
    });

    tipoPago.addEventListener("change", function() {
        var tipoPagoSeleccionado = tipoPago.value;
        var tipoColegioSeleccionado = tipoColegio.value;
        cantCuotas.innerHTML = "";
        opciones[tipoPagoSeleccionado][tipoColegioSeleccionado].forEach(function(opcion) {
            var opcionElemento = document.createElement("option");
            opcionElemento.value = opcion;
            opcionElemento.text = opcion;
            cantCuotas.add(opcionElemento);
        });
    });
</script>
</body>
</html>