<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TopEducation</title>
</head>
<body>
<h1>Home</h1>
<ul>
    <li><a th:href="@{/ingresar-estudiante}">Ingresar Estudiante</a></li>
    <li><a th:href="@{/generar-cuotas}">Generar Cuotas</a></li>
    <li><a th:href="@{/rut-cuotas}">Listado de cuotas</a></li>
    <li><a th:href="@{/registrar-pago}">Registrar Pago</a></li>
    <li><a th:href="@{/importar-notas}">Importar notas</a></li>
</ul>
</body>
</html>